nav {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}

.title_nav_home {
    height: 90px;
    margin: 0px 0 0 50px;
}
.contain_button_dropdown{
    display: flex;
}